@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    box-sizing: inherit;
}

.main_container{       
    background: linear-gradient(to right, rgb(9 9 9 / 83%), rgb(47 62 47 / 72%) ) ,url('https://png.pngtree.com/thumb_back/fh260/background/20230625/pngtree-d-render-of-a-robust-data-server-for-efficient-web-hosting-image_3677208.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &-bg{
        padding: 10rem 0rem;
    }
    .first_content{
            // background-color: rgba(231, 231, 231, 0.267);
            .text_color{
                color: #ffffff;
            }
            &-1{
               padding: 4rem 0rem;
                .sub-heading{
                    font-size: 1.8rem;
                    color: rgba(255, 255, 255, 0.767);
                    font-weight: 400;                  
                }
                .main{
                    font-size: 4rem;
                    color: #fffd72;
                    font-weight: 800;
                    padding: 0 0 0.6rem 0;
                   font-family: "Roboto", sans-serif !important;
                }
                p{
                    font-size: 1.8rem;
                    padding: 1rem 3.5rem 0rem 0rem;
                    color: #fff;
                }
                a{
                    margin-top: 3rem;
                    padding: 1rem 4rem;
                
                    outline: none;
                    font-size: 1.6rem;
                    &:hover{
                        outline: none;
                    }

                    &:not(:first-child){
                        margin-right: 2rem;
                       
                   }                               

                }
                .btn-warning{
                    color: #000;
                   } 

            //image
            &-2 {
                img{
                    width: 100%;
                    height: 50%;
                }
           
            }
        }
    }
        
 }  

 @media screen and (max-width:776px) {
    html{
        font-size: 60%;
    }
    .main_container-bg{
        padding: 2rem 0;

        .first_content{
            text-align: center;

            &-2{
                text-align: center;
                img{
                    width: 90%;
                }
            }
        }
    }
   
 }

 @media (min-width:960px) and (max-width:1140px){
    html{
        font-size: 62.5%;
    }
    .main_container-bg{
        padding: 7rem 0;

        .first_content{
            text-align: center;
            padding: 2rem 2rem;

            &-2{
                text-align: center;
                img{
                    width: 80%;
                }
            }
        }
    }
 }
 

.section_main {
    margin: 5rem 0rem;
}

// second section
.bg-section-home-one:before{    
     background: #337ab7 !important;
}

.plans-one{
    border: 1px solid red !important;
    border-radius: 1rem;
    &-patch{
        box-sizing: content-box;
    }
    &:hover{
        box-shadow: none !important;
    }
}
$btn_pric_color:#099f7c;
$add_cart_color:#faa200;
$heading_para_color: #0b3363;
$one_two_three_color:#b90400;

@mixin  boxshadow {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.233);
}
.price_main_row {
    padding: 6rem 0 0rem 0;
  
}
.price_main_row-1 {
    padding: 0rem 0 2rem 0;
  
}

.price_box {
    // background-color: rgba(128, 128, 128, 0.181);
    border: 1px solid #003666;
    padding: 1.5rem;
    border-radius: 0.5rem;  
    box-sizing: border-box;
    height: 100%;
    margin-bottom: 3rem;
        
    h2{
        color: $heading_para_color;
        font-size: 3.4rem;
        margin-bottom: 1.2rem;
        font-weight: 600;
    }
    ul {
        text-align: left;
        li{
            list-style-type: none;
            line-height: 3.5rem;
            font-size: 1.6rem;
         }
        }
    
    .inline_item{        
        p{
            display: inline-block;  
            &:not(:last-child) {
                font-size: 1.6rem;
                margin-right: 1.1rem;               
                // text-transform: uppercase;
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
            }   
            &:last-child{
                font-size: 1.6rem;
                font-weight: 600;
                color: #141414fa;
                background-color: rgba(0, 149, 255, 0.213);
                padding: 0.4rem 1.1rem;
                border-radius: 1.2rem;
                text-transform: uppercase;
            } 
            .color_price{
                color: $one_two_three_color;
                margin:0 0.2rem;
                font-size: 1.8rem;
                text-decoration: line-through;
            }               
        }
    }
    $btn_pric_color:#099f7c;
    $add_cart_color:#faa200;

    .price_tag{
        font-size: 1.7rem;
        span{
            font-size: 3.4rem;
            font-weight: 700;
            color: $btn_pric_color;
        }
    }
    .main_button{ 
       a{
         text-decoration: none;
         background-color: $add_cart_color;
         border-radius: 0.5rem;
         display: block;
         padding: 1rem 1rem ;
         font-size: 1.5rem;
         font-weight: 500;
         color: #fff;

         &:hover{
            background-color: darken($color: $add_cart_color, $amount: 5);
         }
       }
    }
    .btn_desc{
        margin-top: 2rem;
    }
    .item_center{
        h2{
            text-transform: uppercase;
        }
    }

    .item_center *{
       text-align: center;
    }
    transition:all 0.3s linear;
    &:hover{
        @include boxshadow();
        transition:all 0.3s linear;
        transform: translateY(-1rem);
        border: 1px solid $add_cart_color;
    }
    
}
 .price_specs{
         
        display: grid;
        justify-content: center;                                    
            i{
                color: $add_cart_color;
                margin-right: 1rem;
                font-weight: 800;               
            }
    
}
.home-one-faq-section{
    background-image: url('../../img/faq-bg.jpg');
    background-position: right top;
}
 .bx-home-one{
    color: #06a097;
    transition: all 0.5s linear;
    
    &:hover{
        transition: all 0.2s linear;
        background-color: #06a097;
        color: #fff;
        div{
            color: #fff;
        }
    }
 }

 
 @media  (max-width:776px){
    .home-one-faq-section{
        background-image: none;
        background-position: right top;
    }
}
.newsletter{
    outline: none;
}

.home-one-faq .panel-default .collapsed:before {
    content: '';
    background: #666 url('../../img/icons/toggle-icons-collappes.png') no-repeat 6px -148px;
}

.home-one-faq .panel-default .accordion-toggle:before {
    content: '';    
    background: #003666 url('../../img/icons/toggle-icons-collappes.png') no-repeat 6px 10px;
}

// serices section start

.icon_outer-box{    
    padding: 7rem 0;
    .icon-box{
        background-color: rgb(239 239 239 / 72%);
        padding: 2rem;
        height: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        border: 1px solid rgb(6, 33, 105);
        border-radius: 1.2rem;
        transition: box-shadow 0.5s;
        &:hover{
            box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.17);
          
        }

        i{
            font-size: 4rem;
            padding: 1rem 0;
            color: #fab400;
           
           
        }
        .icon_main_desc{
            padding: 1rem 0rem;
            font-size: 3rem;
            font-weight: 500;
            color: #2c4d92;
            
            &-2{
                font-size: 1.6rem;
                line-height: 2.5rem;
            }
        }
    }

}